<div class="flex flex-col leading-tight">
    <span class="text-xs text-gray-400">{{this.driverFees}}</span>
    {{#if this.approvedFees}}
        <span class="text-xs font-semibold" style="color:#22c55e;">{{this.approvedFees}}</span>
    {{/if}}
</div>
