<div class="pt-4">
    <div class="ui-tabs">
        <nav>
            <LinkTo @route="management.contacts.index" class="ui-tab">Liên hệ</LinkTo>
            <LinkTo @route="management.contacts.customers" class="ui-tab">Khách Hàng</LinkTo>
        </nav>
    </div>
</div>
{{outlet}}